.vote-section, .thumbnail, .post-details {
	float: left;
	
}
.post-details {
	margin-left: 10px;
}

.btn-default {
	border-color: #fff;
}
.item:after {
	display: block;
	content: '';
	clear: both;

}

